
/*    Created on : Dec 12, 2014, 5:29:54 PM
    Author: Olin*/

#header{
    text-align: center;
    vertical-align: middle;
    background-color: #93060F;
    opacity: .55; 
    border-top-left-radius: 30px;  
    border-bottom-right-radius: 30px;
    width: 100%;
}
#footer{
    height: 80px;
    text-align: center;
    vertical-align: middle;
    background-color: #93060F;
    opacity: .55; 
    border-bottom-left-radius: 45px; 
    border-bottom-right-radius: 45px;
    width: 100%;
}
body{
    background-color: #D1B48C;
}

h1, p{
    color:  #D1B48C;
}
h1{
    /*Looked up on YouTube how to embed Google fonts an link to stylesheet 
     in head*/
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
    position: relative;
    top: 25px;
    height: 100px;
}
.row{
    margin-left: -5%;
}
img:hover{
    border: solid thin #93060F;
    border-radius: 10px;
}
img{
 padding: 5px;  
}

